.game-reset {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #b5b5b5;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
}

.game-reset:hover {
  background-color: grey;
  color: #ffffff;
  padding: 5px 10px;
}
